@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 150px;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
    align-items: center;
    padding: 16px 48px;
    max-width: 70%;
    margin: auto;
}

a,
.logo,
.main-title,
.call-to-action {
    color: #F9FAF8;
}

a {
    text-decoration: none;
}

.logo {
    flex-grow: 1;
    font-size: 24px;
    font-weight: 900;
}

.main {
    display: flex;
    gap: 48px;
    padding: 48px;
    justify-content: center;
    max-width: 70%;
    margin: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
    flex-grow: 0;
    align-items: flex-start;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
}

.subtitle,
.header ul {
    font-size: 18px;
    color: #E5E7EB;
}

.main-image {
    height: auto;
    width: 400px;
    flex-shrink: 0;
}

.hero-text button {
    padding: 8px 24px;
    background-color: #3882F6;
    border: #3882F6 2px solid;
    color: #E5E7EB;
    border-radius: 8px;
    font-weight: 900;
}

.information-title,
.information,
.quote {
    color: #1F2937;
}

.random-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 48px;
    gap: 48px;
}

.information-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
}

.information-images {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.information {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    justify-content: center;
    text-align: center;
    gap: 8px;
}

.random-information img {
    width: 150px;
    height: 150px;
    border-radius: 16px;
    border: 4px solid #3882F6;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 48px;
    background-color: #E5E7EB;
}

.quote-text,
.quote-att {
    width: 60%;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
}

.quote-att {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
}

.call-to-action {
    background-color: #3882F6;
    width: 60%;
    display: flex;
    margin: 48px auto;
    padding: 48px 64px;
    border-radius: 8px;
    gap: 48px;
    justify-content: space-around;
    align-items: center;
}

.action-title {
    font-size: 24px;
    font-weight: 900;
}

.call-to-action button {
    border: 2px solid #E5E7EB;
    background-color: #3882F6;
    padding: 8px 24px;
    color: #E5E7EB;
    border-radius: 8px;
    flex-shrink: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #1F2937;
    color: #E5E7EB;
}